@{
    Layout = "_Layout";
}

<div class="textBlock">
    <div class="text">
        <p>
            Что просит бомж-детектив у людей?<br />
            Наводку
        </p>
    </div>
    <div class="text">
        <p>
            - Стой! Кто идёт?<br />
            - Дождь, - быстро ответил Штирлиц и забарабанил пальцами по стеклу
        </p>
    </div>
    <div class="text">
        <p>
            Что говорят ребёнку, у которого 10 протезов?<br />
            Собирайся в школу
        </p>
    </div>
    <div class="text">
        <p>
            собака по кличке новость нашла бомбу.<br />
            новость быстро разлетелась по всей деревне.
        </p>
    </div>
    <div class="text">
        <p>
            Заходит улитка в бар и говорит <br />
            -Нет времени обьяснять, дай воды <br />
            Бармен налил ей стакан воды, и улитка ушла. <br />
            На следующий день снова приходит эта же улитка и снова просит воды <br />
            Бармен налил воды, улитка уползла. <br />
            И на следующий день снова приползает та же улитка, и снова просит воды, тут бармен не выдержал, и спросил <br />
            -Зачем тебе столько воды? <br />
            -Нет времени болтать, наливай скорее, дом горит, я его тушу
        </p>
    </div>
    <div class="text">
        <p>
            Заходит однажды в бар улитка и говорит: <br />
            -Можно виски с колой? <br />
            - Простите, но мы не обслуживаем улиток. <br />
            И бармен вышвырнул ее за дверь. <br />
            Через неделю заходит опять эта улитка и спрашивает: <br />
            -Ну и нахрена ты это сделал!?
        </p>
    </div>
    <div class="text">
        <p>
            В дверь постучали 2 раза и хлопнули <br />
            -Queen <br />
            Подумал Штирлиц
        </p>
    </div>
</div>