@{
    Layout = "_Layout";
}

<div id="wrap">
    <div class="Login">
        <div class="Fields">
            @model LoginViewModel
            <form method="post" action="@Url.Action("MailSender", "Account")">
                <div class="input-box">
                    <input type="text" name="Email" class="LoginField" required />
                    <label>Email</label>
                </div>
                <input class="LoginBtn" type="submit" value="Send email" />
            </form>
        </div>
    </div>
</div>
