@{
    Layout = "AdminPage";
}

<div id="wrap">
    <div class="Login">
        <div class="Fields">
            @model LoginViewModel
            <form method="POST" action="@Url.Action("AddModer", "Admin")">
                <div class="input-box">
                    <input type="text" name="Username" class="LoginField" autocomplete="off" required />
                    <label>Moderator name</label>
                </div>
                <div class="input-box">
                    <input type="text" name="Email" class="LoginField" autocomplete="off" required />
                    <label>Moderator email</label>
                </div>
                <div class="input-box">
                    <input type="password" name="Password" class="LoginField" autocomplete="off" required />
                    <label>Password</label>
                </div>
                <div class="input-box">
                    <input type="password" name="ConfirmPassword" class="LoginField" autocomplete="off" required />
                    <label>Confirm Password</label>
                </div>
                <input class="LoginBtn" type="submit" value="Register new moderator" />
            </form>
        </div>
    </div>
</div>


<script src="~/js/bootstrap.min.js"></script>