@{
    Layout = "_Layout";
}

<div class="curItem">
    <div class="item">
        <div class="CurItem_img">
            <img src="@Model.ImageUrl" alt="@Model.Name" />
        </div>
    </div>
</div>
